.ucSimpleHeader {
	height: auto;
	padding-top: 28px;
	padding-bottom: 40px;
}

.phoneText{
	padding-top: 10px;
	*padding-top: 0px;
}
.content{
	width: 100%;
}

.banner-box {
	position: relative;
	/*overflow: hidden;*/
	min-height: 750px;
	max-height: 1080px;
	/*background: #18181A;  for IE9 */
    /*background: linear-gradient(to bottom, #101012, #1A1A1C, #151517);*/
    background: #f8fcff;
	background: linear-gradient(180deg, #edfcfd 0%, #faffff 100%);
}

.banner-box .bg-box {
	position: relative;
	width: 1240px;
	height: 750px;
	margin: 0 auto;
}

/*.banner-box:before {*/
/*	position: absolute;*/
/*	content: ' ';*/
/*	top: 0;*/
/*	left: 0;*/
/*	width: 100%;*/
/*	height: 100%;*/
/*	background: url(//uc-res.mzres.com/resources/uc/wlogin/member/images/banner.png) no-repeat center;*/
/*	background-size: contain;*/
/*	background-color: #EDF9FB;*/
/*}*/
.banner-box:before {
	position: absolute;
	content: ' ';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	min-width: 1240px;
	max-width: 1920px;
	background: url(../images/pic-flyme.png) no-repeat;
	background-position: 50% 50%;

}

a.linkABlue:link,
a.linkABlue:visited {
    color: #387aff;
}

a.linkABlue:hover {
    color: #3058df;
}

a.fullBtnBlue {
    /*height: 2.5rem;
    line-height: 2.5rem;
    padding: 0.3125rem;*/
    background-color: #387aff;
}
a.fullBtnBlue:hover {
    /*height: 2.5rem;
    line-height: 2.5rem;
    padding: 0.3125rem;*/
    background-color: #3058df;
}
a.invalidBtn:link, a.invalidBtn:visited{
	color: #7f7f7f;
	cursor: default;
}
a.invalidBtn:hover{
	color: #7f7f7f;
}
.main-form {
	width: 298px;
	position: absolute;
	top: 24%;
	right: 85px;
	background-color: #FFF;
	padding: 35px 35px 10px;
	border-radius: 2px;
	box-shadow: 0 6px 12px 0 rgba(138,153,150,0.15);
}

/*@media (max-width: 1440px) {
	.main-form {
		right: 220px;
		top: 14%;
	}
}*/

.qr-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 35px;
	height: 35px;
	background: url(../images/pc.png) no-repeat center;
	cursor: pointer;
}

.qr-btn.pc-btn {
	background: url(../images/pc.png) no-repeat center;
}

.qr-panel {
	position: absolute;
	width: 100%;
	height: 450px;
	top: 60px;
	left: 0;
	background-color: #FFF;
	z-index: 500;
}

.qr-panel h3 {
	text-align: center;
	font-size: 18px;
	color: #333;
	font-weight: normal;
	margin: 0;
}

.qr-panel .qr-img-box {
	width: 300px;
	height: 300px;
	margin: 20px auto;
}

.qr-panel img {
	max-width: 100%;
	/*display: block;
	margin: 20px auto;
	width: 512px;
	height: 512px;*/
}

.qr-panel .tips {
	text-align: center;
	font-size: 16px;
	color: #999;
}

.qr-panel .qr-success-tips {
	width: 260px;
	height: 18px;
	margin: 0 auto;
	line-height: 18px;
	text-indent: 20px;
	font-size: 14px;
	color: #333;
	background: url(../images/qrBg.png) no-repeat -36px 0;
}

#toLogin{
	color: #474747;
	cursor: pointer;
}
.rememberField{
	margin-bottom: 25px;
	height: 24px;
	line-height: 20px;
}
.rememberField label{
	margin-right:7px;
	cursor:pointer;
	font-size: 14px;
	color: #7f7f7f;
}
.rememberField label:hover{
	color: #000000;
}
.rememberFieldForA{
	margin-left: 90px;
}
.checkboxPic{ width: 20px;}

.transferField:after {
	content: ' ';
	display: block;
	height: 0;
	clear: both;
}

.go2forgetpwd {
	float: right;
}

input[type="checkbox"]{
	margin: 0px 0px 30px 5px;
	float: left;
	cursor: pointer;
	width: 18px;
	height: 18px;
	border: solid 1px #dadada;
}
.checkChk{
	background-position: -1px -53px;
	cursor: pointer;
	margin-bottom: 5px;
}
.checkUnchk{
	background-position: -1px -73px;
}
#nextAutoLogin{
	margin-left: -115px;
}
.tab-title{
	font-size: 18px;
	/*margin-bottom: 60px;*/
	margin-top: 35px;
	width: 300px;
	text-align: center;
}

.rememberField{
	margin-bottom: 30px;
	height: 20px;
	line-height: 20px;
}
#getKey{
	width: 120px;
	text-align: center;
	border: none;
	outline: none;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	position: absolute;
	right: 13px;
	top: 0px;
}
.form-line{
	color: #d9d9d9;
	height: 22px;
	display: inline-block;
	border-left: 1px solid #dadada;
	position: absolute;
	right: 140px;
	top: 12px;
}
.register-line{
	color: #B3ABAB;
    display: inline-block;
    border: 2px solid #B3ABAB;
    border-left: 1px;
    height: 10px;
    line-height: 20px;
    margin-right: 32px;
    margin-left: 32px;
}
#kapkey{
	width: 160px;
	border: none;
	outline: none;
	height: 46px;
	font-size: 14px;
	line-height: 22px;
	*height: 45px;
	*line-height: 46px;
}
.lineWrap{
	position: relative;
	zoom: 1;
}
#password, #password1{
	float: left;
	width: 200px;
}
#pwdBtn{
	margin-top: 13px;
	margin-bottom: 10px;
}
.pwdBtn,.pwdBtnShow{
	outline: none;
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
	float: right;
	margin-right: 5px;
}
.pwdBtnShow i, .pwdBtn i{
	background: url("/resources/uc/web/base/images/elements.png") no-repeat;
	_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/resources/uc/web/base/images/elements.png');
}
.pwdBtn i {
	background-position: -60px -93px;
	_margin-left: -60px;
	_margin-top: -93px;
}
.pwdBtnShow i {
	background-position: -30px -92.65px;
	_margin-left: -30px;
	_margin-top: -93px;
}
#mainForm input{
	line-height: 22px;
	padding: 14px 0;
	height: 18px;
	*height: 16px;
	*padding: 0px 0;
}
.cycode-height{
	height: 20px;
}

/*reset*/
span.error, span.otherError{
	display: block;
	margin-left: 0px;
	margin-bottom: 20px;
}
#password1::-ms-reveal {
	display: none;
}
#password::-ms-clear {
	display: none;
}

.cycodePhone {
	line-height: 0px;
}

/*验证码弹框*/
.alertDialogContent .normalInput {position: relative; display: inline-block; padding: 0 10px; width: 320px; height: 50px; line-height: 22px; font-size: 16px; text-align:left; margin:10px 0 20px -7px; border: 1px solid #dadada; outline: none; color: #474747; zoom: 1; overflow: hidden;}
.alertDialogContent .normalInput .kapkey{font-size: 16px; width: 220px; border: none; outline: none;overflow: hidden;}
.alertDialogContent .normalInput #imgKey{width: 88px; height: 36px; float: right; top: 14px; overflow: hidden; position: absolute; margin-left: 13px;}


::-ms-clear{display: none;}
::-ms-reveal{display: none;}

.a_mregister{width: 50%;display: inline-block;text-align: right;}
.a_login{color:#939393;width: 50%;display: inline-block;text-align: left;}

#flymeFooter {
	border-color: transparent !important;
	position: static;
}

.transferField {
    margin-bottom: 5px;
}

.normalInput{border-radius: 2px;}
.tip-box{position: relative;height: 33px;display: table;width: 100%;margin-bottom: 4px;margin-top: 4px;border: solid 1px #ffc2b3;background: #ffd1ca;border-radius: 2px;}
.tip-font{color: #666;font-size: 12px;padding-right: 25px;padding-left: 35px;display: table-cell;vertical-align: middle;}
.err-ico{background:url('../images/error-ico.png');width: 16px;height: 16px;display: inline-block;position: absolute;top: 10px;left: 10px;}
.close-ico{background:url('../images/close-ico.png');background-repeat: no-repeat;cursor: pointer;width: 16px;height: 16px;display: inline-block;position: absolute;top: 12px;right: 10px;}
.btn-error{border: 1px solid red;}
.btn-focus{border:1px solid #387aff;}
.visiblility-hidden{visibility: hidden;}

.main-form .normalInput {
	margin-bottom: 20px;
}

.geeDiv{
    display:none;
}
